[main]
Description=WiscVPN-OffCampusStatic
Host=144.92.44.114
AuthType=1
GroupName=WiscVPN-OffCampusStatic
GroupPwd=
enc_GroupPwd=4C3CF33493878EF84E8D93E6849A0627BB49EB0082655B61FACEF385F5B70F28C8A05BE0F74486A52E35E2BB69CE2502F2543F520915874D
EnableISPConnect=0
ISPConnectType=0
ISPConnect=AT&T
ISPCommand=
Username=
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
VerifyCertDN=
DHGroup=2
ForceKeepAlives=0
PeerTimeout=90
EnableLocalLAN=0
EnableSplitDNS=1
ForceNetLogin=0
ForceNatT=1
